
body {
    font-family: 'Spartan', sans-serif;
  }
  
  .jumbotron-standard {
    background-attachment: fixed;
    background-image: url(jumbotron.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-size-adjust: auto;
    min-height: 20em
  }
  
  .jumbotron-porto {
    background-attachment: fixed;
    background-image: url(jumbo-porto.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: white;
    text-shadow: 2px 2px 2px black;
    min-height: 20em
  }