
body {
  /* Google Font/Bootstrap Override 1 */  
  font-family: 'Spartan', sans-serif;
  /* Bootstrap Override 2 */
  background-color: #dae0e5
  }
  /* Bootstrap Override 3 */  
  h3 {
  text-decoration: underline
  }

  .jumbotron-standard {
    background-attachment: fixed;
    background-image: url(jumbotron.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: white;
    text-shadow: 2px 2px 2px black;
    min-height: 20em
  }
  
  .jumbotron-porto {
    background-attachment: fixed;
    background-image: url(jumbo-porto.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: white;
    text-shadow: 2px 2px 2px black;
    min-height: 20em
  }